<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlccc.ssm.mapper.UserMapper">

    <select id="list" resultType="User">
        select * from   user         order by id desc
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="User">
        INSERT into user ( name ) values ( #{name} )
    </insert>
    <delete id="delete">
        DELETE FROM user WHERE id= #{id}
    </delete>
    <select id="get" resultType="User">
        SELECT * FROM USER WHERE id= #{id}
    </select>

    <update id="update" parameterType="User">
        UPDATE user SET NAME=#{name} where id=#{id}
    </update>


</mapper>